body
{background-color: grey}
ul {
    float:right;
    line-height: 32px;
    display: inline-block;
  }

body{
    width: 960px;
    margin :auto;
}

#image{
    width : 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#footer{
    background-color:#666666;
    width:100%;
    height:10px; 
    text-align: center;
    padding-left: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    font-family: ‘Montserrat’, sans-serif;
    margin: auto;
    border-radius:1px;
    right:0;
    border-top: solid 2px;
    border-color: white;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

    


a{
    color: black;
    text-decoration: none;
}



 
 ul li {
    float: left;
    margin-right: 15px;
    font-family: ‘Montserrat’, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    color: white;
    margin-top: 6px;
  }
  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color:#eff;
    border-radius: 4px;
    border-color: white;
}

label{
    font-family: ‘Montserrat’, sans-serif;
    color: white;
    font-size: 15px;
}

#contact-me{
    margin-top: 40px;
}
  #name{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width : 100%;
    padding-top : 300px;
}


#pictures{

    float :right;
    width : 40%;
    margin: 10px;
}
#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 20px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}
